@import "@blueprintjs/core/lib/scss/variables";

.colorButton>span>div {
    width: $pt-font-size;
    height: $pt-font-size;
}

.simpleSlider {
    height: 20px;

    & :global(.bp4-slider-axis) {
        display: none;
    }

    & :global(.bp4-slider-label) {
        display: none;
    }
}

.colorSlider {
    @extend .simpleSlider;

    & :global(.bp4-slider-track) {
        background: linear-gradient(to right, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);

        & :global(.bp4-slider-progress) {
            display: none;
        }
    }
}

.brightnessSlider {
    @extend .simpleSlider;

    & :global(.bp4-slider-track) {
        background: linear-gradient(to right, black, white);
    }
}